language: generic

services:
  - docker

before_script: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  - docker build -t sconaway/docker-mc:11-jre-alpine .
  - docker push sconaway/docker-mc:11-jre-alpine

# deploy:
#   provider: script
#   script: curl -X POST https://hooks.microbadger.com/images/sconaway/docker-mc/hJDdkonFlfbrL7lGp6NwBfGkryQ\=
