language: generic

services:
  - docker

before_script: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  - docker build -t sconaway/docker-mc .
  - docker tag sconaway/docker-mc sconaway/docker-mc:adopt14-jdk-alpine
  - docker push sconaway/docker-mc
  - docker push sconaway/docker-mc:adopt14-jdk-alpine

deploy:
  provider: script
  script: curl -X POST https://hooks.microbadger.com/images/sconaway/docker-mc/hJDdkonFlfbrL7lGp6NwBfGkryQ\=
